{{!-- <nav class="site-nav">
    <div class="site-nav-left">
        {{^is "home"}}
            {{#if @blog.logo}}
                <a class="site-nav-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@blog.url}}">{{@blog.title}}</a>
            {{/if}}
        {{/is}}
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {{#if @blog.facebook}}
                <a class="social-link social-link-fb" href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
            {{/if}}
            {{#if @blog.twitter}}
                <a class="social-link social-link-tw" href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
            {{/if}}
        </div>
        {{#if @labs.subscribers}}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {{else}}
            <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@blog.url}}/rss/" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
        {{/if}}
    </div>
</nav> --}}
{{! {% if page.nav == 'navbar-aos' %}
  <nav
    class="navbar nav-overlay"
    data-aos-anchor=".navbar-aos"
    data-aos="navbar-aos"
    data-aos-anchor-placement="bottom-bottom">
{% else %} }}
<nav class="navbar nav-overlay">
  {{! {% endif %} }}
  <div class="container">
    <div class="row no-gutters w-100">
      <div class="col-8">
        {{#if @blog.logo}}
          <a class="navbar-brand" href="{{@blog.url}}">
            <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
          </a>
        {{else}}
          <a class="navbar-brand" href="{{@blog.url}}">
            {{@blog.title}}
          </a>
        {{/if}}
      </div>
      <div class="col-4">
        <div class="nav-toggle-icon float-right">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container nav-links mx-4 mx-md-auto">
    <ul class="links">
      <li>
        <a href="/" class="home-link">
          Home
        </a>
      </li>
      <li>
        <a href="/about/" class="about-link">
          About Red Ant
        </a>
      </li>
      <li>
        <a href="/our-approach/" class="our-approach-link">
          Our Approach
        </a>
      </li>
      <li>
        <a href="/portfolio/" class="portfolio-link">
          Portfolio
        </a>
      </li>
      <li>
        <a href="https://news.redant.com.au" target="_blank">
          News & Ideas
        </a>
      </li>
      <li>
        <a href="/jobs/" class="jobs-link">
          Careers
        </a>
      </li>
      <li>
        <a href="#contact">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>